.projectList {
    position: relative;
}

.projectList .card {
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
    padding: 30px 50px;
    text-align: center;
    font-size: 16px;
}

.projectList .card .cardTitle {
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
}

.projectList .card .cardPosted {
    font-size: 14px;
    color: #ccc;
}

.projectList .cardTime {
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid #8d8b8b;
}

.projectList .cardTimeTwo {
    font-size: 14px;
}

.projectList .cardParrafo {
    padding: 10px 50px;
    line-height: 20px;
    font-size: 14px;
    color: #333;
}

.projectDetails {
    position: relative;
    margin-top: 40px;
}

.projectDetails .cardDetails {
    margin-bottom: 20px;
    background: #fff;
    padding: 30px 50px;
    text-align: center;
    font-size: 16px;
}

.projectDetails .cardDetails .cardTitleDetails {
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
}

.projectDetails .cardDetails .cardPostedDetails {
    font-size: 14px;
    color: #ccc;
}

.projectDetails .cardTimeDetails {
    font-size: 14px;
}

.projectDetails .cardParrafoDetails {
    padding: 10px 25%;
    line-height: 20px;
    font-size: 14px;
    color: #333;
}